body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto";
}

.header {
  width: 100%;
  height: 88px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header2 {
  display: none;
}

.menu{
  display: none;
}

/*tag*/
.tag{
  width: auto;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 10px;
}

.tag p{
  margin: 0;
  font-family: sans-serif;
  font-size: 0.9rem;
  color: white;

}

.tag div{
  width: fit-content;
  height: auto;
  background-color: rgb(208, 241, 19);
  box-sizing: border-box;
  padding: 5px;
  margin-top: 5px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: backgroun-color 1s ease-in-out;
  justify-self: end;
}

.tag div:hover{
  background-color: rgb(217, 233, 126);
}

.tag div p{
  color: black;
  font-family: sans-serif;
  margin: 0;
}

.top2{
  display: none;
}

.basicInfo2{
  display: none;
}

.about .imgAboutMobile{
  display: none;
}

.header div:nth-child(1) {
  width: 30%;
  height: auto;
  background-color: #edcd1d;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  gap: 30px;
  justify-content: center;
}

.header div:nth-child(1) h1 {
  color: #1e2d3b;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
}

.header div:nth-child(1) h1 span {
  font-weight: 300;
  font-size: 1.5rem;
}

.header div:nth-child(1) img {
  width: 100px;
  height: auto;
}

.header div:nth-child(2) {
  width: 70%;
  height: auto;
  background-color: #1e2d3b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
}

.header div:nth-child(2) .home{
  text-decoration: underline;
}

.header div:nth-child(2) h2,
.header div:nth-child(2) h2 a {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: white;
}

/*txt and image at the top*/
.top {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  margin-top: 88px;
}

.top video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top h1 {
  position: absolute;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
}

/*services*/
.services {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services .h1 {
  color: #1e2d3b;
  font-size: 3.5rem;
  font-weight: 500;
  margin: 20px 0 10px 0;
}

.services .lineTop {
  width: 10%;
  height: 10px;
  background-color: #edcd1d;
  margin-bottom: 50px;
}

.services .outterWrapper {
  width: 70%;
  height: auto;
  display: flex;
  gap: 30px;
}

.services .outterWrapper div {
  width: 33.33%;
  height: 500px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

.services .outterWrapper div img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.services .outterWrapper div h1 {
  font-size: 1.5rem;
  color: #3d5975;
}

.services .outterWrapper div p {
  font-weight: 100;
}

.services .outterWrapper div h1,
p {
  margin: 20px;
}

/*about*/
.about {
  width: 100%;
  height: 80vh;
  display: flex;
}

.about div:nth-child(1) {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
  align-items: center;
}

.about div:nth-child(1) h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 20px;
  color: #1e2d3b;
}

.about div:nth-child(1) div {
  width: 20%;
  height: 10px;
  background-color: #edcd1d;
  margin-bottom: 10px;
}

.about div:nth-child(1) P {
  width: 60%;
  font-size: 1rem;
  font-weight: 100;
  line-height: 2;
}

.about div:nth-child(2) {
  width: 50%;
  height: 100%;
}

.about div:nth-child(2) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*basic info*/
.basicInfo {
  width: 100%;
  height: 25vh;
  background-color: #edcd1d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basicInfo div {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basicInfo div h1 {
  font-size: 4rem;
  margin: 0;
  color: #3d5975;
}

.basicInfo div p {
  color: #3d5975;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.basicInfo .verticalLine {
  width: 3px;
  height: 50%;
  background-color: white;
}

/*projects*/
.projects {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects h1 {
  font-size: 3.5rem;
  color: #1e2d3b;
  font-weight: 500;
  margin: 50px 0 0 0;
}

.projects .lineHorizontal {
  width: 10%;
  height: 10px;
  background-color: #edcd1d;
  margin-bottom: 30px;
}

.projects .wrapper {
  width: 70%;
  height: 95%;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
}

.projects .wrapper div {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 20px;
}

.projects .wrapper div:nth-child(1) {
  margin-bottom: 20px;
}

.projects .wrapper div div {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.projects .wrapper div div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Smooth zoom transition */
}

.projects .wrapper div div .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.636);
  top: 0;
  left: 0;
  opacity: 0; /* Start hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.projects .wrapper div div h4 {
  position: absolute;
  opacity: 0; /* Start hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
  color: black;
  font-weight: 100;
}

.projects .wrapper div div:hover .overlay {
  opacity: 1;
}

.projects .wrapper div div:hover img {
  transform: scale(1.1); /* Zoom image slightly */
}

.projects .wrapper div div:hover h4 {
  opacity: 1;
}

/*contact*/
.contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 100px 0;
  border-top: 1px solid #787dd0;
}

.contact .txtNMap {
  width: 67%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .txtNMap h1 {
  font-size: 3.5rem;
  color: #1e2d3b;
  font-weight: 500;
  margin: 100px 0 20px 0;
}

.contact .txtNMap .lineHorizontal2 {
  width: 10%;
  height: 10px;
  background-color: #edcd1d;
  margin: 0 0 50px 0;
}

.contact .txtNMap iframe {
  width: 100%;
  height: 300px;
}

.contact .wrapper2 {
  width: 60%;
  height: auto;
  display: flex;
  margin: 100px 0 0 0;
}

.contact .wrapper2 div {
  width: 50%;
  height: auto;
}

.contact .wrapper2 div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.contact .wrapper2 div:nth-child(1) h1 {
  margin: 0;
}

.contact .wrapper2 div:nth-child(1) .input {
  width: 95%;
  height: 40px;
  background-color: #f7f7f7;
  border: 1px solid #585353;
}

.contact .wrapper2 div:nth-child(1) .txtArea {
  width: 95%;
  height: 80px;
  background-color: #f7f7f7;
  border: 1px solid #585353;
}

.contact .wrapper2 div:nth-child(1) button {
  width: 30%;
  height: 40px;
  border: 0;
  background-color: #3b3a3a;
  color: #edcd1d;
  align-self: flex-end;
  margin: 20px 17px 0 0;
  cursor: pointer;
}

.contact .wrapper2 div:nth-child(2) h1,
.contact .wrapper2 div:nth-child(2) p {
  margin: 0;
}

/*footer*/
.footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
}

.footer p {
  margin: 0;
}

.footer div {
  width: auto;
  height: auto;
  display: flex;
}

.footer img {
  width: 40px;
  height: 40px;
}

@media (max-width: 450px) {
  .header {
    display: none;
  }

  .no-scroll {
    position: fixed;
    width: 100%;
  }

  .header2 {
    width: 100%;
    height: 70px;
    background-color: #edcd1d;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
  }

  .header2 img:first-child {
    width: 80px;
    height: auto;
  }

  .header2 img:last-child {
    margin-left: auto;
  }

  .menu {
    width: 100%;
    height: 100vh;
    background-color: #1e2d3b;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .menu.active {
    display: flex;
  }

  .menu img {
    width: 30px;
    display: flex;
    align-self: flex-end;
    margin: 10px;
  }

  .menu .firstMenuH2 {
    margin-top: 90px;
  }

  .menu h2 {
    margin: 0 0 25px 0;
    font-weight: 400;
  }

    /*tag*/
.tag{
  width: auto;
  height: auto;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 10px;
}

.tag p{
  margin: 0;
  font-family: sans-serif;
  font-size: 0.7rem;
  color: white;
}

  /*txt and image at the top*/
  .top {
    display: none;
  }

  .top2 {
    width: 100%;
    height: 80vh;
    margin-top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .top2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .top2 h1 {
    position: absolute;
    text-align: center;
    color: white;
    line-height: 1.5;
  }
  
  .about .imgAboutMobile{
    display: flex;
  }

  /*services*/
  .services {
    height: auto;
  }

  .services .h1 {
    margin: 50px 0 10px 0;
  }

  .services .lineTop {
    width: 30%;
  }

  .services .outterWrapper {
    width: 90%;
    flex-direction: column;
  }

  .services .outterWrapper div {
    width: 100%;
  }

  /*about*/
  .about {
    height: auto;
    flex-direction: column;
  }

  .about div:nth-child(1) {
    width: 100%;
    height: auto;
  }

  .about div:nth-child(1) div {
    width: 30%;
  }

  .about div:nth-child(1) p {
    width: 90%;
    line-height: 1;
  }

  .about div:nth-child(2) {
    width: 100%;
    height: 400px;
  }

  .about div:nth-child(2) img:first-child {
    display: none;
  }

  .about div:nth-child(2) img:last-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*basic info*/
  .basicInfo {
    display: none;
  }

  .basicInfo2 {
    width: 100%;
    height: auto;
    background-color: #edcd1d;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
  }

  .basicInfo2 .wrapperBasicInfo2 {
    width: 100%;
    height: 50%;
    display: flex;
  }

  .basicInfo2 .wrapperBasicInfo2 div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .basicInfo2 .wrapperBasicInfo2 div h1 {
    font-size: 3rem;
  }

  .basicInfo2 .wrapperBasicInfo2 div p {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .basicInfo2 .wrapperBasicInfo2 div h1,
  .basicInfo2 .wrapperBasicInfo2 div p {
    margin: 0;
    text-align: center;
    color: #3d5975;
  }

  /*projects*/
  .projects {
    height: auto;
    flex-direction: column;
  }

  .projects .lineHorizontal {
    width: 30%;
  }

  .projects .wrapper {
    width: 100%;
  }

  .projects .wrapper div {
    flex-direction: column;
  }

  .projects .wrapper div div {
    width: 100%;
  }
  .projects .wrapper div div {
    width: 100%;
    height: 330px;
  }

  /*contact*/
  .contact {
    flex-direction: column;
  }

  .contact .txtNMap {
    width: 90%;
  }

  .contact .txtNMap .lineHorizontal2 {
    width: 30%;
  }

  .contact .wrapper2 {
    width: 90%;
    margin: 40px 0 0 0;
    flex-direction: column;
  }

  .contact .wrapper2 div {
    width: 100%;
    height: auto;
  }
}
